:root {
  --desaturatedRed: hsl(0, 36%, 70%);
  --desaturatedRedAlpha: hsl(0, 36%, 70%, 0.5);
  --softRed: hsl(0, 93%, 68%);
  --darkGrayishRed: hsl(0, 6%, 24%);
  --gradient-first: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-second: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}
* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--gradient-first);
  min-height: 100vh;
  display: grid;
  justify-items: center;
}
.grid-container {
  display: grid;
}
.logo {
  display: block;
  transform: scale(0.65);
  margin-block: 2.5rem;
}
.mobile {
  width: 100%;
  height: auto;
  display: block;
}
.desktop {
  display: none;
}

.call-to-action h1 {
  color: var(--desaturatedRed);
  width: 10ch;
  font-weight: 300;
  font-size: 4.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-block: 7rem 1.5rem;
  margin-inline: auto;
}
.call-to-action h1 > span {
  color: var(--darkGrayishRed);
  font-weight: 600;
}
.call-to-action p {
  color: var(--desaturatedRed);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
  margin-inline: 1.5em;
  margin-bottom: 3rem;
}
.newsletter {
  position: relative;
  display: grid;
  gap: 0.5rem;
}
.newsletter label {
  display: none;
}
.newsletter input {
  color: var(--darkGrayishRed);
  background: transparent;
  font-weight: 400;
  font-size: 1.5rem;
  width: auto;
  margin-inline: 2.5rem;
  padding-block: 0.8em 0.6em;
  padding-inline: 1.2em;
  outline: transparent;
  border: 0.1rem solid var(--desaturatedRedAlpha);
  border-radius: 3em;
}

.newsletter.error input {
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right 6.5rem;
  border-color: var(--softRed);
}

.error p {
  color: var(--softRed);
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
  margin-left: 5rem;
}

.newsletter input::placeholder {
  color: var(--desaturatedRedAlpha);
}
.btn-submit {
  background-image: url(../images/icon-arrow.svg), var(--gradient-second);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 2.5rem;
  border: transparent;
  border-radius: 3rem;
  box-shadow: 0 0.5rem 2rem var(--desaturatedRed);
  width: 6rem;
  height: 3.8rem;
}
.btn-submit:is(:hover, :focus) {
  cursor: pointer;
  filter: brightness(115%);
}

.attribution {
  color: var(--darkGrayishRed);
  font-size: 1.1rem;
  text-align: center;
}
.attribution a:is(:link, :visited) {
  color: var(--softRed);
  text-decoration: none;
}
.attribution a:is(:hover, :active) {
  text-decoration: underline;
}
